/**stílus külön fileban tárolva**/
/*Mobile first szemlélet*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}

body {
    background: lightpink;
}
/*Képernyőméret szerinti stílusok - media query*/
/*tablet*/
@media screen and (min-width:640px){
    body {
        background: lightgreen;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    body {
        background: lightblue;
    }
}
