* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    /*background-color: #eea;
    background-image:url('https://picsum.photos/800');
    background-repeat:no-repeat;
    background-position:center;!*x y*!*/
    background: #eea url('https://picsum.photos/1920/1200') center center no-repeat;
    background-size: cover;
}

.container {
    border: deeppink 5px solid;
}

.container > div {
    background: #fff;
    border: 1px solid cornflowerblue;
    font-size: 1.5em;
    padding: 10px;
}

.container > div:nth-child(1) {
    background: #87bba2;
}

.container > div:nth-child(2) {
    background: #ee5f55;
}

.container > div:nth-child(3) {
    background: #5a8a8a;
}
