/*fontkészletek betöltése*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;800&display=swap');
:root {
    --mainTitleFont: 'Poppins', sans-serif;
    --mainFont: 'Open Sans', sans-serif;
    --orange: #ffb32f;
    --darkColor: #212529;
    --lightGrey: #e1e1e1;
    --lightColor: #fff;
    --baseTextColor: #818181;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height:100%;
    scroll-behavior: smooth;
}
body {
    font-family: var(--mainFont);
    color:var(--baseTextColor);
}
h1,h2,h3 {
    font-family: var(--mainTitleFont);
}
h2 {
    text-transform: uppercase;
    color: var(--darkColor);
    font-size:2em;
    margin:5px auto;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
/*reszponziv container(ek) beállításai*/
.container {
    padding:0 15px;
}
.flex-container {
    display:flex;
    flex-direction: column;
}
.flex-container > .box {
    flex:1;
}

.grid-container {
    display: grid;
    grid-gap:15px;
}
#about .flex-container > .box:first-child {
    flex-grow:2;
}
input, textarea {
    border:none;
    outline:none;
    background:transparent;
    font-family: var(--mainFont);
    color: var(--darkColor);
    padding:5px 10px;
    border-bottom:1px solid var(--lightGrey);
    width: 100%;
    transition:all 500ms ease-in-out;
}
textarea {
    min-height:150px;
}
input:focus,
textarea:focus {
    border-bottom-color: var(--darkColor);
}
.btn {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border:none;
    padding:7px 15px;
    margin:15px 0;
    background:var(--lightGrey);
    color:var(--darkColor);
    font-weight:bold;
    cursor: pointer;
    transition:all 500ms ease-in-out;
}
.btn-primary {
    background:var(--orange);
    color:var(--lightColor);
}
.btn-primary:hover {
    background: var(--darkColor);
}

.sectionTitle {
    max-width: 600px;
    margin:0 auto;
    padding: 30px 0;
    text-align: center;
    color:var(--darkColor);
}
.sectionTitle > span {
    color: var(--orange);
    font-family:var(--mainTitleFont);
    font-weight:bold;
    /*órai feladat megoldása*/
    display:flex;
    align-items: center;
    justify-content:center;
}
/*vonalak*/
.sectionTitle > span:before,
.sectionTitle > span:after {
    content :"";
    display: inline-block;
    margin:0 20px;
    width:2em;
    height:2px;
    background: var(--orange);
}




/*tartalmi elemek*/
.logo {
    flex:1;
}
.main-menu {

}
.main-menu > li {
    /*padding:0 5px;*/
}
.main-menu > li > a {
    display:inline-block;
    margin:0 5px;
    /*padding: 0 5px;*/
    color: var(--lightColor);
    text-transform:uppercase;
    transition:color 500ms ease-in-out;
    font-weight:700;
}
.main-menu > li:last-child > a {
    margin-right:0;
}
.main-menu > li > a:hover {
    color:var(--orange) !important;
}

/*Kapcsolat szekció*/
.info > li {
    margin-bottom:15px;
}
.info > li > b {
    text-transform:capitalize;
    color: var(--darkColor);
    display:block;
}
.info a {
    color:var(--baseTextColor);
    transition: all 500ms ease-in-out;
}
.social a {
    color:var(--darkColor);
    display:inline-block;
    margin-right:5px;
    font-size:1.2em;
}
.info a:hover {
    color:var(--orange);
    transform:scaleX(-1);
}
.contact-form > label {
    display:block;
}
.contact-form > button {
    justify-self:start;
}



footer {
    background: lightgrey;
    text-align: center;
}


/*tablet*/
@media screen and (min-width:768px){
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .flex-container:not(.skip-tablet) {/*~kivéve aminek van skipt-tablet classa IS*/
        flex-direction:row;
        align-items:center;
    }
    .grid-1-1 {
        grid-template-columns: 1fr 1fr;
    }
    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .contact-form > label:nth-child(3),
    .contact-form > label:nth-child(4){
        grid-column: span 2;
    }
    .main-header > nav > .main-menu {/* 'desktopon (most tablettől felfele) biztosan látszódjon a menü*/
        display:flex !important;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    .container {
        width: 1200px;
    }
    .flex-container {
         flex-direction:row;
         align-items:center;
     }
    .grid-1-1-1 {
        grid-template-columns: repeat(3,1fr);
    }

}
